{% extends 'tracker/base.html' %}
{% block content %}
<h1>Admin Dashboard</h1>

<div class="card">
    <h2>All Students</h2>
    <table>
        <tr>
            <th>Name</th><th>Reg No.</th><th>Course</th><th>Company</th><th>Lecturer</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.user.get_full_name }}</td>
            <td>{{ student.reg_number }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.company_name }}</td>
            <td>{{ student.assigned_lecturer|default:"Not Assigned" }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="card">
    <h2>All Lecturers</h2>
    <table>
        <tr><th>Name</th><th>Username</th><th>Email</th></tr>
        {% for lecturer in lecturers %}
        <tr>
            <td>{{ lecturer.get_full_name }}</td>
            <td>{{ lecturer.username }}</td>
            <td>{{ lecturer.email }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}